img + em {
    display: block;
    text-align: center;
    font-style: normal;
    font-size: smaller;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img[alt=fib-till-stop-bench-results] {
    margin-top: 10px;
    margin-bottom: 10px;
}

img[alt=overflowing-task-runs-for-3-periods] {
    width: 100%;
}

img[alt=execute-vs-schedule] {
    width: 100%;
}

img[alt=execute-vs-schedule-2threads] {
    width: 75%;
}

img[alt=executor-deadlock-minimal-reproduction] {
    width: 50%;
}
